.App {
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.header span {
  font-size: 2.5rem;
  font-weight: 200;
  color: #4e4453;
  text-transform: uppercase;
}

.searchBar {
  text-align: center;
  width: 30%;
}

.searchBar input {
  width: 70%;
  margin-right: 0.5rem;
  padding: 0.3rem;
  border: 0.07rem solid #4e4453;
  border-radius: 0.5rem;
}

.searchBar input:focus {
  outline-width: 0;
}

.trackButton {
  display: flex;
  margin-left: auto;
  margin-right: 0.125rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #c3acd0;
  transition: transform 0.2s;
}

.trackButton:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.trackButton img {
  width: 1.5rem;
}

.removeButton img {
  width: 1.5rem;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.results,
.playlist {
  display: inline-flex;
  width: 30%;
  flex-direction: column;
  text-align: center;
  margin: 3.125rem;
  padding: 1.9rem;
}

.playlist input {
  width: calc(100% - 0.6rem - 0.14rem);
  border: 0.07rem solid #4e4453;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-right: 0;
  margin-bottom: 1rem;
}

.playlist input:focus {
  outline-width: 0;
}

.track {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  padding: 0.5rem;
  background-color: #0000004d;
  border-radius: 0.5rem;
  text-align: left;
}

.trackImg {
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.flashBtn {
  background-color: #4e4453;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.flashBtn::before {
  content: '';
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: #ffffff4d;
  transform: rotate(20deg);
}

.saveBtn:hover::before {
  left: 15rem;
  transition: 0.5s;
}

.searchBtn:hover::before {
  left: 11rem;
  transition: 0.5s;
}

.saveBtn {
  align-self: center;
  width: 50%;
  padding: 0.7rem 0.7rem;
}

.searchBtn {
  width: fit-content;
  padding: 0.5rem 1rem;
}
